#boto {
    position: absolute;
    top: 90px;
    right: 20px;
    padding: 10px;
    z-index: 400;
  }

  #boto2 {
    position: absolute;
    top: 140px;
    right: 20px;
    padding: 10px;
    z-index: 400;
  }

  #boto3 {
    position: absolute;
    top: 190px;
    right: 20px;
    padding: 10px;
    z-index: 400;
  }

  #map { 
    height: 98vh;
    width: 99vw;
   }